In [1]:
from pandas_ext.UpdatedDataFrame2 import UpdatedDataFrame as DataFrame

In [2]:
df = DataFrame(["test", "Test"])

In [3]:
df

,0
0,test
1,Test

In [4]:
df3 = DataFrame([df, df])

In [5]:
import pandas as pd
from IPython.core.display import display, HTML

In [6]:
script = \
"""
<script>
requirejs.config({
    paths: { 
       'katex': ['//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min'], 
                                              // strip .js ^, require adds it back
    },
});

require(['katex'], function(katex) {
     console.log("Loaded :)");
     console.log(katex)
     window.katex = katex
     return {};
});
</script>
"""

In [7]:
display(HTML(script))

In [8]:
# display(HTML('<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.js" integrity="sha384-O4hpKqcplNCe+jLuBVEXC10Rn1QEqAmX98lKAIFBEDxZI0a+6Z2w2n8AEtQbR4CD" crossorigin="anonymous"></script>'))

In [9]:
display(HTML('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.css" integrity="sha384-VEnyslhHLHiYPca9KFkBB3CMeslnM9CzwjxsEbZTeA21JBm7tdLwKoZmCt3cZTYD" crossorigin="anonymous">'))

In [10]:
from IPython.display import (display_javascript,
                                         display_html)
from uuid import uuid1
class katex:
    def __init__(self, string):
        self._start = lambda uid: "<div id='"+uid+"'/>\n<script>"
        self._vars = "var parent, newChild;"
        self._parent = lambda uid: "parent = document.getElementById('{_id}');".format(_id=uid)
        self._body = ["newChild = document.createElement('span');",
                      "window.katex.render('"+string+"', newChild);",
                      "parent.appendChild(newChild);",
                       "console.log('test');"]
        self._body = "\n".join(self._body)
        self._end = "</script>"

    def _repr_html_(self):
        self._id = str(uuid1())
        rep = "\n".join([self._start(self._id), self._vars, self._parent(self._id), self._body, self._end])
        return rep

In [11]:
from IPython.display import (display_javascript,
                                         display_html)
from uuid import uuid1
class katex:
    def __init__(self, s):
        self._s = s
        self._ids = []
        self.parent = lambda unique_id: 'var parent = document.getElementById("{unique_id}");'.format(unique_id=unique_id)
        self._body = lambda math: ["var newChild = document.createElement('span');",
                                "window.katex.render('{math}', newChild);".format(math=math),
                                "parent.appendChild(newChild);"]

    def _repr_html_(self):
        unique_id = uuid1()
        anchor = '<div id="{unique_id}"/>'.format(unique_id=unique_id)
        self._ids.append(unique_id)
        return anchor

    def _repr_javascript_(self):
        js = []
        while len(self._ids) > 0:
            i = self._ids.pop(0)
            js.append("\n".join([self.parent(i)]+self._body(self._s)))
        return "\n".join(js)
    
    def _ipython_display_(self):
        display_html(self._repr_html_(), raw=True)
        display_javascript(self._repr_javascript_(), raw=True)

In [12]:
k = katex(r"\\int x = \\frac{x}{y} = \\frac{\\lambda y + 100}{\\int e = mc^2}")
k

In [13]:
k

In [14]:
df_5 = DataFrame([k, k])
df_1 = DataFrame([df_5, df_5])

DataFrame([df_1, df_1])

In [15]:
DataFrame([df_1, df_1])

In [16]:
df3 = DataFrame([df, df, k])
df3

In [17]:
script = \
"""
<script>;
console.log("test test hello world")
</script>
"""
display(HTML(script))